.courses-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.course-flyer {
  width: 20%;
  margin: 50px;
}

.subscribe-link {
  text-align: center;
}
