@font-face {
  font-family: 'Andalemo';
  src: local('Andalemo'), url(../fonts/andalemo.ttf) format('truetype');
}

:root {
  --color-highlight: #dddbdb;
  
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  line-height: 25px;
}

h1, h2, h3, h4 {
  font-family: 'Andalemo';
  text-align: center;
  margin: auto;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  min-width: 100px;
}

.hidden-mobile {
  display: none;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .hidden-mobile {
    display: block;
  }
}
