.intro {
  display: flex;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .intro > * {
    width: 50%;
  }
}

.intro-text {
  padding: 50px;
  text-align: center;
}

.intro-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-claire {
  width: 300px;
} 

h1 {
  margin-top: 50px;
}