.shells-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shells-video {
  max-height: 80vh;
}



.shells-intro {
  margin: 50px 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .shells-intro {
    margin: 50px 100px;
  }
}